Pending {
    height: 30;
    width: 100%;
    border: solid white;
}

DiceMenu {
    height: 30;
    width: 100%;
    border: solid white;
}

#RollButtons {
    height: 1fr;
    width: 1fr;
}

#RollString {
    height: 1fr;
    width: 1fr;
}

#RollResult {
    height: 1fr;
    width: 1fr;
}
